{% extends 'static_pages/main_template.html' %}

{% block head %}
    <style>
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="page-header">
            <h1>Frigate</h1>

            <p>Frigate is an efficient and integrated way to organize notecards and write research based papers
            and articles.</p>
        </div>
    </div>

    <div class="row">
        <h3>Features</h3>

        <ol>
            <li>Facts are organized into a notecard interface
            </li>
            <li>Sources are tracked, and are marked when they are used by facts and in the essay
            </li>
            <li>Cite notecards within the essay using parenthetical citations
            </li>
        </ol>
    </div>

    <div class="row">
    <p>Yeah anyway it's cool you should sign up</p>
    </div>

{% endblock %}
